<div class='container'>
  <h2>Ended Surveys:</h2>
  <table *ngIf="endedSurveys.length > 0" class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Survey name</th>
        <th>Created on</th>
        <th>Started on</th>
        <th>Expires on</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="surveyRow" *ngFor="let survey of endedSurveys">
        <td class="surveyColumn" (click)="openDialog(survey)">{{survey.name}}</td>
        <td class="surveyColumn" (click)="openDialog(survey)">{{survey.created}}</td>
        <td class="surveyColumn" (click)="openDialog(survey)">{{survey.startDate}}</td>
        <td class="surveyColumn" (click)="openDialog(survey)">{{survey.expiresDate}}</td>
        <td>
          <button mat-stroked-button color="warn" (click)="deleteSurvey(survey._id)">Delete survey now</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>