/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
li {
    list-style-type: none
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~@okta/okta-signin-widget/dist/css/okta-theme.css';

@mixin mat-ripple-theme($theme) {
  .mat-radio-button {
    background-color: green;
  }
}

.clickable {
    cursor: pointer
}

.surveyColumn {
    cursor: pointer;
}

.surveyRow td button{
    display: block;
    margin: auto;
}

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
  }

.surveyListItem mat-list-item .mat-list-item-content{
    justify-content: center;
    align-items: center;
  }
body {
    margin-bottom: 125px; /* Margin bottom by footer height */
  }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
  }

.takeSurveyHeaders {
    text-align: center;
  }
  