@import '~@angular/material/theming';

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

.optionInput {
    width: 400px;
}

#question {
    justify-content: center;
    padding: 15px;
    margin: 0 0 0 0;
}

#questionTitle {
    margin: 0 0 20px 0;
    color: mat-color($primary)
}

.radioButtonGroup {
    display: inline-flex;
  flex-direction: column;
}

.option {
    margin: 0 0 0 10px;
}

/deep/  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #F98B13;
}

/deep/  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #F98B13;
}

/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #F98B13
}