<div id="question" [formGroup]="form">
  <h4 id="questionTitle">{{index + 1}}. {{question.title}}</h4>
  <div [ngSwitch]="question.questionType">

    <div *ngSwitchCase="'Free-Form'">
      <mat-form-field class="optionInput" [floatLabel]='auto '>
        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [formControlName]="question._id"
          matInput></textarea>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'True/False'">
      <mat-radio-group class="radioButtonGroup" [formControlName]="question._id">
        <mat-radio-button (click)="timeToScroll(index)" disableRipple='true' class="option" matInput vertical *ngFor="let option of question.possibleAnswers"
          [value]="option">
          {{option.text}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngSwitchCase="'Multiple Choice'">
      <mat-radio-group class="radioButtonGroup" [formControlName]="question._id">
        <mat-radio-button (click)="timeToScroll(index)" disableRipple='true' class="option" matInput *ngFor="let option of question.possibleAnswers"
          [value]="option">
          {{option.text}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngSwitchCase="'Choose All That Apply'">
      <div *ngFor="let option of question.possibleAnswers; let i = index">
        <mat-checkbox disableRipple='true' class="option" [checked]="form.controls[this.question._id].value.includes(option.text)"
          [value]="option" (click)="updateChooseAll(option.text, i)">
          {{option.text}}
        </mat-checkbox>
      </div>
    </div>

    <div *ngSwitchCase="'Yes/No'">
      <mat-radio-group class="radioButtonGroup" [formControlName]="question._id">
        <mat-radio-button (click)="timeToScroll(index)" disableRipple='true' class="option" matInput *ngFor="let option of question.possibleAnswers"
          [value]="option">
          {{option.text}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
</div>