<div id="takeSurveysContainer">
    <div *ngIf="!activeSurvey" id="surveysList">
        <h2 id="availSurveysHeader" class="takeSurveyHeaders">Available Surveys</h2>
        <p id="availSurveysSubheader">Take awesome surveys, give us free user data!</p>
        <mat-grid-list gutterSize="15" cols="2" rowHeight="300px">
            <mat-grid-tile class="clickable surveyTile" *ngFor="let survey of activeSurveys" [colspan]=1 [rowspan]=1 (click)="clickSurvey(survey._id)">
                <mat-list class="surveyListItem">
                    <mat-list-item>
                        <mat-icon mat-list-icon>question_answer</mat-icon>
                    </mat-list-item>
                    <mat-list-item class="surveyName">
                        <h4>{{survey.name}}</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <p class="subheader">Available since: {{survey.startDate | date}} </p>
                    </mat-list-item>
                    <mat-list-item>
                        <p class="subheader">Available until: {{survey.expiresDate | date}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="activeSurvey; else elseBlock" id="surveyBeingTaken">
        <div class="surveyForm" id="surveyIsActive">
            <div class="titleContainer">
                <h2 id="activeSurveyName">{{activeSurvey.name}}</h2>
            </div>
            <div style="display: flex; align-items: center; justify-content: flex-end;">
                <mat-icon class="clickable" color="warn" (click)="cancelSurvey()">cancel</mat-icon>
                <span style="margin-left: 2px;" (click)="cancelSurvey()" class="clickable"> Cancel</span>
            </div>
            <form class="surveyForm" (ngSubmit)="onSubmit()" [formGroup]="form">
                <div>
                    <div style="display: flex;">
                        <div style="flex: 1"> </div>
                        <div style="flex: 3">
                            <div *ngFor="let question of activeSurvey.questions; let i=index" id="{{i.toString()}}" class="form-row surveyForm">
                                <app-answer-question [index]="i" (scrollToIndex)="scrollTo($event)" [question]="question" [form]="form"></app-answer-question>
                                <hr *ngIf="i < activeSurvey.questions.length -1">
                            </div>
                        </div>
                        <div style="flex: 1"> </div>
                    </div>
                </div>
                <div class="form-row" id='submitSurvey'>
                    <button class="btn" id="submitButton" type="button" (click)="submitSurvey()" [disabled]="!form.valid">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>
<app-taken-surveys *ngIf="!activeSurvey"></app-taken-surveys>