//  styles for core.
@import '~@angular/material/theming';

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);


#activeSurveyName {
  margin: 15px 0 20px 0;
  text-align: center
}

.mat-list-icon {
    color: mat-color($primary);
    // font-size: 1000px !important
    transform: scale(2)
  }

#takeSurveysContainer {
  display: flex;
  flex-direction: row;
  flex: 1
}

#availSurveysHeader {
  margin: 15px 0 20px 0;
}

#availSurveysSubheader {
  margin: 0 0 30px 0;
  text-align: center;
}

.surveyTile { 
  justify-content: center;
  align-content: center;
  border: 5px solid #F98B13;
}

.surveyListItem {
  justify-content: center;
  align-items: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

.mat-list-item {
  height: 75% !important
}

#surveysList {
  flex: 1
}

#surveyBeingTaken {
  flex: 2;
  font-family: 'National2';
}

#submitSurvey {
  justify-content: center
}

#submitButton {
  background-color: mat-color($primary);
  color: white
}

#titleContainer {
  background-color: #343A40;
}

.subheader {
  margin: 0 0 0 0;
}

.surveyName {
  margin-top: 15px;
}

