#takenSurveysHeader {
    margin: 50px 0 20px 0
}

.surveyTile { 
    justify-content: center;
    align-content: center;
    border: 5px solid #653BB5;
  }

  .mat-list-icon {
      color: #F98B13;
      transform: scale(2)
  }