<div>
  <h2 id="takenSurveysHeader" class="takeSurveyHeaders">
    Surveys I've Taken
  </h2>
  <mat-grid-list gutterSize="15" cols="2" rowHeight="300px">
    <mat-grid-tile class="clickable surveyTile" *ngFor="let survey of takenSurveys" [colspan]=1 [rowspan]=1 (click)="clickTakenSurvey(survey._id)">
      <mat-list class="surveyListItem">
        <mat-list-item>
          <mat-icon mat-list-icon>question_answer</mat-icon>
        </mat-list-item>
        <mat-list-item class="surveyName">
          <h4>{{survey.name}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>