<div class='container'>
    <h2>Active Surveys:</h2>
    <button mat-stroked-button color="warn" (click)="runResults()">results survey now</button>
    <div *ngIf="getSurveysError" style="color: red">Sorry, there was an error. Refresh? I don't care.</div>
    <table *ngIf="activeSurveys.length > 0" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Survey name</th>
                <th>Created on</th>
                <th>Started on</th>
                <th>Expires on</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="surveyRow" *ngFor="let survey of activeSurveys">
                <td class="surveyColumn" (click)="openDialog(survey)">{{survey.name}}</td>
                <td class="surveyColumn" (click)="openDialog(survey)">{{survey.created}}</td>
                <td class="surveyColumn" (click)="openDialog(survey)">{{survey.startDate}}</td>
                <td class="surveyColumn" (click)="openDialog(survey)">{{survey.expiresDate}}</td>
                <!-- <td>
                    <button mat-stroked-button color="primary" >Show questions</button>
                </td> -->
                <td>
                    <button mat-stroked-button color="primary" (click)="endSurvey(survey._id)">End survey now</button>
                </td>
                <td>
                    <button mat-stroked-button color="warn" (click)="deleteSurvey(survey._id)">Delete survey now</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>