<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <img style="max-height: 55px" src="../../assets/LogoMakr_2WSydC.png">
      <p>
        I know this is awesome, feel free to contact me to tell me you feel the same way.
      </p>
    </div>
  </div>
</footer>