<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      Nathan's Surveys
    </a>
    <div *ngIf="admin" class='d-flex justify-content-between' style="flex: 1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="admin/activesurveys">Active Surveys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/endedsurveys">Ended Surveys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/unactivatedsurveys">Unactivated Surveys</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item pull-right">
          <a class="nav-link" routerLink="admin/addsurvey">Add Survey</a>
        </li>
        <li class='nav-item clickable'>
          <a class='nav-link' (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

    <div *ngIf="user" class='d-flex justify-content-between' style="flex: 1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="surveys/take">Take Survey</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class='nav-item pull-right clickable'>
          <a class='nav-link' (click)="logout() ">Logout</a>
        </li>
      </ul>
    </div>
    <button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
  </div>
</nav>