@import '~@angular/material/theming';

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

.navbar {
    background-color: mat-color($primary)
}

a {
    color:white !important
}