<div>
  <app-header [isAuthenticated]="isAuthenticated"></app-header>
  <div style="padding-top: 56px;" role="main" class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-footer></app-footer> -->
</div>