// #okta-login-container {
//     margin: 0 auto;
//     max-width: 400px;
//     border: 1px solid silver;
//     padding: 20px;
//     box-shadow: 5px 5px 5px 0 silver;
//   }
  
//   #okta-login-container input {
//     margin-bottom: 5px;
//     width: 100%;
//     padding: 5px;
//   }
  
//   #okta-login-container input[type=checkbox] {
//     width: 25px;
//   }