<p>Questions</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef> Question </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="questionType">
    <th mat-header-cell *matHeaderCellDef> Question Type </th>
    <td mat-cell *matCellDef="let element"> {{element.questionType}} </td>
  </ng-container>

  <ng-container matColumnDef="possibleAnswers">
    <th mat-header-cell *matHeaderCellDef> Possible Answers </th>
    <td mat-cell *matCellDef="let element"> {{element.possibleAnswers}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>