<p>Answers</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Question </th>
    <td mat-cell *matCellDef="let element; let i = index">{{i+1}}. {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="answers">
    <th mat-header-cell *matHeaderCellDef> Your Answers </th>
    <td mat-cell *matCellDef="let element"> {{element.answerValue.text || element.answerValue}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>