<div class="container">
  <div class="addSurvey">
    <div *ngIf="surveyCreated" class="alert alert-success">
      Survey successfully created.
    </div>
    <!-- <p>Form value: {{ surveyForm.value | json }}</p>
    <p>Form status: {{ surveyForm.status | json }}</p> -->
    <h2>Add Survey</h2>
  </div>
  <form [formGroup]="surveyForm">
    <div class='row'>
      <div style="flex: 1">
        <div style="position: fixed; width: inherit" id="metadata">
          <p *ngIf="surveyEdited">If you navigate from this page,
            <br> your changes will be lost</p>
          <div class="form-group">
            <mat-form-field [floatLabel]='auto'>
              <input matInput formControlName="name" placeholder="Enter survey name">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field [floatLabel]='auto'>
              <input (focus)="startDatePicker.open()" matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Choose a start date">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field [floatLabel]='auto'>
              <input (focus)="expiresDatePicker.open()" matInput [matDatepicker]="expiresDatePicker" formControlName="expiresDate" placeholder="Choose an end date">
              <mat-datepicker-toggle matSuffix [for]="expiresDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #expiresDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div *ngIf="dateError" class="alert alert-danger">
            End date must be after start date.
          </div>
          <div *ngIf="surveyWillBeActive" class="alert alert-info">
            Survey will be active immediately
          </div>
          <div id="metadataBtns" class="btn-toolbar">
            <button type="button" class="btn btn-success" (click)="submitSurvey()" [disabled]="surveyForm.status == 'INVALID' || dateError == true">Submit survey</button>
            <button type="button" class="btn btn-warning" (click)="revert()">Clear form</button>
          </div>
        </div>
        <!-- <div style="flex: 2; width: 100%"></div> -->
      </div>
      <div id="listOfQuestions" [sortablejs]="surveyForm.controls.questions.controls" style="flex: 2" formArrayName="questions"
        class="well well-lg">
        <div id="typeAndQuestionButtons" class="question d-flex justify-content-between" [ngStyle]="{'background-color': qIndex%2==0 ? '#D5C3B9': 'lightgrey'}"
          *ngFor="let question of surveyForm.controls.questions.controls; let qIndex=index" [formGroupName]="qIndex">
          <div style="flex: 1">
            <h4>Question #{{qIndex + 1}}</h4>
            <div>

            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-select formControlName="questionType" placeholder="Question type">
                  <mat-option *ngFor="let qType of questionTypes" [value]="qType">{{qType}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'d-flex justify-content-between
            ': qIndex===surveyForm.controls.questions.controls.length - 1}">
              <button *ngIf="qIndex===surveyForm.controls.questions.controls.length - 1" (click)="addQuestion()" type="button" class='btn btn-primary '>Add question</button>
              <button *ngIf="surveyForm.controls.questions.controls.length > 1" (click)="removeQuestion(qIndex)" type="button" class='btn btn-danger '>Remove question</button>
              <div></div>
            </div>
          </div>
          <div id="titleAndAnswers" style="flex: 1" class="d-flex" id="test">
            <div style="width: 100%" [ngSwitch]="question.value.questionType">
              <mat-form-field style="width: 100%; margin-bottom: 15px" [floatLabel]='auto'>
                <input matInput placeholder='Question Title ' formControlName="title">
              </mat-form-field>
              <div [sortablejs]="question.controls.possibleAnswers.controls" *ngSwitchCase="'Multiple Choice'">
                <div formArrayName="possibleAnswers" *ngFor="let answer of question.controls.possibleAnswers.controls; let aIndex = index">
                  <div [formGroupName]="aIndex">
                    <mat-form-field style="max-width: 100%" [floatLabel]='auto '>
                      <input id="optionInput" formControlName="text" matInput placeholder='Option {{aIndex + 1}} '>
                    </mat-form-field>

                  </div>
                  <div id="answerButtons" [ngClass]="{'d-flex justify-content-between': aIndex===question.controls.possibleAnswers.length- 1}">
                    <button *ngIf="aIndex===question.controls.possibleAnswers.length- 1 && aIndex >=1" (click)="addAnswer(question.controls.possibleAnswers)"
                      type="button" class='btn btn-primary '>Add Answer</button>
                    <button *ngIf="question.controls.possibleAnswers.length > 2" type="button" (click)="removeAnswer(question.controls.possibleAnswers, aIndex)"
                      class='btn btn-danger '>Remove Option</button>
                    <div></div>
                  </div>
                </div>
              </div>

              <div [sortablejs]="question.controls.possibleAnswers.controls" *ngSwitchCase="'Choose All That Apply'">
                <div formArrayName="possibleAnswers" *ngFor="let answer of question.controls.possibleAnswers.controls; let aIndex = index">
                  <div [formGroupName]="aIndex">
                    <mat-form-field style="max-width: 100%" [floatLabel]='auto '>
                      <input id="optionInput" formControlName="text" matInput placeholder='Option {{aIndex + 1}} '>
                    </mat-form-field>

                  </div>
                  <div id="answerButtons" [ngClass]="{'d-flex justify-content-between': aIndex===question.controls.possibleAnswers.length- 1}">
                    <button *ngIf="aIndex===question.controls.possibleAnswers.length- 1 && aIndex >=1" (click)="addAnswer(question.controls.possibleAnswers)"
                      type="button" class='btn btn-primary '>Add Answer</button>
                    <button *ngIf="question.controls.possibleAnswers.length > 2" type="button" (click)="removeAnswer(question.controls.possibleAnswers, aIndex)"
                      class='btn btn-danger '>Remove Option</button>
                    <div></div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'Free-Form'">
                <textarea rows=7 cols=45 disabled></textarea>
                <textarea matInput disabled></textarea>
              </div>
              <div *ngSwitchCase="'Yes/No'">
                <mat-checkbox disableRipple>Yes</mat-checkbox>
                <br>
                <mat-checkbox disableRipple>No</mat-checkbox>
              </div>
              <div *ngSwitchCase="'True/False'">
                <mat-checkbox disableRipple>True</mat-checkbox>
                <br>
                <mat-checkbox disableRipple>False</mat-checkbox>
              </div>
            </div>
          </div>
          <br>

        </div>
      </div>
    </div>
  </form>
</div>