.question {
    margin-bottom: 0;
    border: 1px solid #B8CCE8;
    border-radius: 5px;
    padding: 25px
}

.addSurvey {
    text-align: center
}

#metadata div mat-form-field {
    width: 100%
}

#metadataBtns button {
    margin: 5px
}

#typeAndQuestionButtons {
    margin-bottom: 10px
}